.x-grid3-row.eventmanager-template-row .x-grid3-cell {
  background-color: #f5f5f5 !important;
  font-style: italic;
}

.x-grid3-row.eventmanager-template-row .x-grid3-cell-inner {
  font-style: italic;
}
