.felamimail-action-encrypt {
    background-image:url(../../images/icon-set/icon_lock.svg) !important;
}

.felamimail-action-decrypt {
    background-image:url(../../images/icon-set/icon_lock_open.svg) !important;
}

.action_email_flag {
    background-image:url(../../images/icon-set/icon_flag.svg) !important;
}

.action_email_reply {
    background-image:url(../../images/icon-set/icon_email_answer.svg) !important;
}

.action_email_replyAll {
    background-image:url(../../images/icon-set/icon_email_answer_all.svg) !important;
}

.action_email_forward {
    background-image:url(../../images/icon-set/icon_email_forward.svg) !important;
}

.action_update_cache {
    background-image:url(../../images/icon-set/icon_email.svg) !important;
}

.action_mark_read {
    background-image:url(../../images/icon-set/icon_email_mark.svg) !important;
}

.action_approve_migration {
    background-image:url(../../images/icon-set/icon_calendar_attendee_accepted.svg) !important;
}

.action_file {
    background-image:url(../../images/icon-set/icon_download.svg) !important;
}

.FelamimailIconCls {
    background-image:url(../../images/icon-set/icon_email.svg) !important;
}

.action_folder_emptytrash {
    background-image:url(../../images/icon-set/icon_trash_empty.svg) !important;
}

.action_saveAsDraft {
    background-image:url(../../images/icon-set/icon_drafts.svg) !important;
}

.action_saveAsTemplate {
    background-image:url(../../images/icon-set/icon_folder_template.svg) !important;
}

.action_email_download {
    background-image:url(../../images/icon-set/icon_download.svg) !important;
}

/* rule grid actions */

.action_new_rule {
    background-image:url(../../images/icon-set/icon_action_plus.svg) !important;
}

.action_move_up {
    background-image:url(../../images/icon-set/icon_arrow_full_up.svg) !important;
}

.action_move_down {
    background-image:url(../../images/icon-set/icon_arrow_full_down.svg) !important;
}

/* other actions */

.felamimail-action-reading-confirmation {
    background-image:url(../../images/icon-set/icon_tasks.svg) !important;
}


.felamimail-action-sieve-notification {
    background-image:url(../../images/icon-set/icon_bell.svg) !important;
}

.felamimail-action-spam {
    background-image:url(../../images/icon-set/icon_spam.svg) !important;
}

.felamimail-action-ham {
    background-image:url(../../images/icon-set/icon_ham.svg) !important;
}

.felamimail-action {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #D8A45B;
    border-radius: 5px;
}

.felamimail-action:hover {
    filter: brightness(1.2);
}

/***** flag classes ******/

.flag_unread td{
    font-weight: bold;
}

.unread-flag-dot {
    -webkit-mask-image:url(../../images/icon-set/icon_sticky_dot.svg) !important;
    -webkit-mask-repeat: no-repeat;
    background-color: #4e79b2;
}

.flag_flagged {
    color: #ff0000;
}

.flag_deleted td {
    text-decoration: line-through;
    color: #aaaaaa;
}

.is_spam_suspicions td {
    color: #D8A45B;
}

.is_spam_suspicions_toolbar {
    background-color: #D8A45B;
}

.FelamimailFlagIcon {
    width: 12px;
    height: 12px;
    padding-left: 2px;
}

.FelamimailFlagIcon.MessageFileIcon {
    cursor: pointer;
}

/**** preview *****/

.preview-panel-felamimail {
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.preview-panel-felamimail-headers {
    background-color: #dddddd;
    overflow: auto;
    padding: 10px;
    flex-shrink: 0; /* Don't allow this section to shrink */
}

.preview-panel-felamimail-header-row {
    display: flex;
    padding-top: 3px;
}

.preview-panel-felamimail-header-row-left {
    font-weight: bold;
    min-width: 60px;
    text-align: right;
}

.preview-panel-felamimail-header-row-right {
    padding-left: 10px;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

.preview-panel-felamimail-header-longtext {
    white-space: nowrap;
}

.preview-panel-felamimail-attachments {
    padding: 10px;
    background-color: #e8e8e8;
}

.preview-panel-felamimail-preparedPart {
    flex-shrink: 0;
}

.email-stapled-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.dark-mode .email-stapled-card {
    background-color: #dddddd;
}

.email-stapled-card {
    position: absolute;
    width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 0 2px grey;
    transform-origin: center center;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Hide overflow at the card level */
    margin: 10px;
}

/* note: el tyle of html areas underling textarea are copied to iframe*/
.felamimail-message-body-html,
.preview-panel-felamimail-body {
    overflow: hidden;
    font-size: 13px;
    padding: 15px;
    flex-shrink: 0;
}

.preview-panel-felamimail-body ul {
    list-style: circle outside; 
    margin-left: 20px;
}
.preview-panel-felamimail-body ol {
    list-style: decimal outside; 
    margin-left: 20px;
}

.preview-panel-felamimail-body strong { 
    font-weight: bold; 
    font-style: inherit;
}

.preview-panel-felamimail-body em { 
    font-style: italic; 
    font-weight: inherit;
}

.preview-panel-felamimail-body .x-form-textarea {
    margin-top: 5px;
    font: normal 13px courier;
    border: 0;
}

.felamimail-edit-text-plain .x-form-textarea {
    font-size: 13px;
    padding-top: 5px;
    padding-left: 5px;
}

.felamimail_spam_suspicions_toolbar {
    padding: 10px;
    background-color: #D8A45B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/***** node classes ******/

.felamimail-node-root {
    display: none;
}

.felamimail-node-unread span {
    font-weight: bold;
}

.felamimail-node-trash img.x-tree-node-icon {
    background-image:url(../../images/icon-set/icon_trash.svg);
}

.felamimail-node-trash-full img.x-tree-node-icon {
    background-image:url(../../images/icon-set/icon_trash_neg.svg);
}

.felamimail-node-sent img.x-tree-node-icon {
    background-image:url(../../images/icon-set/icon_folder_sent.svg);
}

.felamimail-node-inbox img.x-tree-node-icon {
    background-image:url(../../images/icon-set/icon_email_in.svg);
}

.felamimail-node-drafts img.x-tree-node-icon {
    background-image:url(../../images/icon-set/icon_drafts.svg);
}

.felamimail-node-templates img.x-tree-node-icon {
    background-image:url(../../images/icon-set/icon_folder_template.svg);
}

.felamimail-node-junk img.x-tree-node-icon {
    background-image:url(../../images/icon-set/icon_trash_neg.svg);
}

.felamimail-node-unselectable img.x-tree-node-icon {
    background-image: url(../../images/icon-set/icon_folder.svg);
    opacity: 0.5;
}

.felamimail-node-account img.x-tree-node-icon {
    background-image: url(../../images/icon-set/icon_base.svg);
}

.felamimail-node-statusbox {
    padding-right: 5px;
    position: absolute;
    right: 0;
}

.felamimail-node-statusbox-progress {
    width: 14px;
    height: 14px;
    margin-top: 2px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin-right: 5px;
}

.felamimail-node-statusbox-progress-pie {
    background-size: contain;
    width: 17px;
    height: 17px;
    margin-top: 1px;
}

.ext-gecko .felamimail-node-statusbox-unread {
    -moz-border-radius: 8px;
}

.felamimail-node-statusbox-unread {
    border-radius: 8px;
    background-color: #D9E8FB;
    color: black;
    line-height: 16px;
    margin-top: 1px;
    padding: 0 5px;
}

.x-tree-selected .felamimail-node-statusbox-unread {
    background-color: #FFFFFF;
}

.felamimail-node-accountfailure {
    position: absolute;
    right: 5px;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    background-image:url(../../images/icon-set/icon_failure.svg);
    margin-right: 10px;
}

/***** email composing dialog ******/

/* disable grid headers */
.felamimail-recipient-grid .x-grid3-hd-row, #felamimail-attachment-grid .x-grid3-hd-row {
    display:none;
}

/*.felamimail-recipient-grid .x-grid3 {*/
/*    background-color: #DFE8F6;*/
/*}*/

/*.felamimail-recipient-grid tr {*/
/*    border-color: #DFE8F6;  */
/*}*/

.felamimail-body-blockquote {
    margin: 5px 10px 0 3px;
    padding-left: 10px;
    border-left: 2px solid #000088;
}

.x-fmail-uploadrow .x-grid3-cell-inner {
    background-image:url(../../library/ExtJS/resources/images/default/grid/wait.gif);
    background-repeat: no-repeat;
    padding-left: 19px;
}

/*.felamimail-recipient-grid .x-grid3-td-type {*/
/*    background-color: #DFE8F6;*/
/*}*/

/*.felamimail-recipient-grid .x-grid3-td-address {*/
/*    background-color: white;*/
/*    border: 1px solid #B5B8C8;*/
/*}*/

.felamimail-recipient-grid .x-grid3-td-address-editing {
    background-color: transparent;
    border: 0;
}

.felamimail-no-email {
    color: #999999;
}

/*.felamimail-recipient-grid {*/
/*    background-image:url(../../library/ExtJS/resources/images/default/grid/wait.gif);*/
/*    background-repeat: no-repeat;*/
/*}*/

.x-grid3-cell-inner.x-grid3-col-address {
    background-color: #fff;
    display: flex;
    align-items: center;
}

/***** sieve rules ******/

.felamimail-sieverule-disabled {
    color: #aaaaaa;
}

.felamimail-sieverule-conjunction {
    color: #15428b;
    font: bold 11px tahoma,arial,verdana,sans-serif;
}

.felamimail-is-external-recipient .x-grid3-col-address {
    background: yellow;
}

/***** location renderer ******/
.preview-panel-felamimail-filelocations,
.felamimail-compose-info .x-panel-body {
    background-color: #ffffaa;
    padding: 5px;
}

.felamimail-compose-info .x-form-item {
    padding: 5px;
    display: block;
}

.felamimail-location {
    padding-right: 5px;
    cursor: pointer;
}

.felamimail-location-icon {
    background-size: 16px;
    height: 16px;
    width: 16px;
    padding-left: 3px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

em.emoji {
    font-style: normal;
}

.dark-mode .is_spam_suspicions td {
    color: #7a5010;
}

.dark-mode .preview-panel-felamimail-body {
    filter: invert(1) hue-rotate(180deg);
    background-color: #222222;
    color: #f1f1f1;
}

.dark-mode .x-ux-display .preview-panel-felamimail-body p {
    color: #f1f1f1;
}

.dark-mode .preview-panel-felamimail-body em.emoji {
    filter: none;
    font-style: normal;
}

.dark-mode .preview-panel-felamimail-body a {
    color: #6c9ad9;
}

.dark-mode .preview-panel-felamimail-body a:visited {
    color: #3c78c9;
}

.felamimail-message-title {
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.felamimail-message-title-row {
    display: flex;
    min-width: 16px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
}

.felamimail-message-title-text-small{
    font-size: 12px;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    opacity: 0.7;
}

.felamimail-message-title-text-medium {
    font-size: 14px;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.felamimail-message-icon,
.felamimail-message-icon-container {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    margin: 0 2px;
}

.felamimail-message-icon-container {
    min-height: 16px;
    min-width: 16px;
    position: relative;
    display: inline-block;
}

.felamimail-message-icon-container.has-multiple-icons .felamimail-message-icon {
    width: 14px;
    height: 14px;
}

.felamimail-message-icon-container.has-multiple-icons .answered {
    position: relative;
    z-index: 2;
    top: 2px;
    right: 2px;
}

.felamimail-message-icon-container.has-multiple-icons .passed {
    position: absolute;
    bottom: 3px;
    left: 5px;
    opacity: 0.6;
    z-index: 1;
}