<?php
return [
    'floorplans' =>  [[
        'name' => 'Demo Floor',
        'image' => 'https://tine-docu.s3web.rz1.metaways.net/images/Calendar/Floorplans/demo_floor.svg',
        'resources' => [[
            'eventSaveLocation' => 'RESOURCE_CAL',
            'resourceName' => 'demo_table_1',
            'resourceDisplayName' => 'Table 1',
            'polygon' => [[[663, 334], [663, 498], [746, 498], [746, 334]]] // or path
        ],[
            'eventSaveLocation' => 'RESOURCE_CAL',
            'resourceName' => 'demo_table_2',
            'resourceDisplayName' => 'Table 2',
            'polygon' => [[[571, 334], [571, 498], [654, 498], [654, 334]]]
        ],[
            'eventSaveLocation' => 'RESOURCE_CAL',
            'resourceName' => 'demo_table_3',
            'resourceDisplayName' => 'Table 3',
            'polygon' => [[[321, 334], [321, 498], [404, 498], [404, 334]]]
        ],[
            'eventSaveLocation' => 'RESOURCE_CAL',
            'resourceName' => 'demo_table_4',
            'resourceDisplayName' => 'Table 4',
            'polygon' => [[[229, 334], [229, 498], [312, 498], [312, 334]]]
        ]],
        'referenceImageDim' => [[1000, 1000]]
    ]]
];
