{% apply bootstrap_email %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="bg-light">
    <div class="container my-10">
        {% include 'Tinebase/views/header.html.twig' %}
        <div class="card my-10">
            <div class="card-body">
                <h5>{{ _('Hello') }}  {{ contact.getTitle() | default(_('User')) }}</h5>
                <hr>
                <div class="space-y-3">
                {% block body %}
                    <h2 class="mb-4 text-primary">Welcome to Our Service</h2>
                    <p class="lead mb-5">This is an enhanced email template with improved styling and functionality.</p>
                    <div class="ax-center my-5">
                        <a class="btn btn-primary p-2" href="#" role="button">Get Started Now</a>
                    </div>
                    <p class="text-muted mt-3">
                        <small>Click the button above to begin your journey with us.</small>
                    </p>
                {% endblock %}
                </div>
            </div>
        </div>
        {% include 'Tinebase/views/footer.html.twig' %}
    </div>
</body>
</html>
{% endapply %}