<?php
return [
    'broadcasthub' => [
        'active' => true,
        'url' => '{{ tinedockercompose_broadcasthub_url }}',
        # should not be required in single TENANCY MODE
        #'pubsubname' => 'redis://cache:6379:broadcasthub',
        'redis' => [
            'host' => 'cache',
        ],
    ],
];
