<?php
return [
    'broadcasthub' => [
        'active' => true,
        'url' => '{{ tinedockercompose_broadcasthub_url }}',
        'pubsubname' => 'redis://cache:6379:broadcasthub',
        'redis' => [
            'host' => 'redis://cache:6379',
        ],
    ],
];
