<?php
return [
    'broadcasthub' => [
        'active' => true,
        {% if tinedockercompose_broadcasthub_url is defined -%}
        'url' => '{{ tinedockercompose_broadcasthub_url }}',
        {% else -%}
        'url' => '{{ [tinedockercompose_tineurl, 'broadcasthub'] | path_join }}',
        {% endif -%}
        # should not be required in single TENANCY MODE
        #'pubsubname' => 'redis://{{ tinedockercompose_redis_hostname }}:6379:broadcasthub',
        'redis' => [
            'host' => '{{ tinedockercompose_redis_hostname }}',
        ],
    ],
];
