<?php
return [
    'Sales' => [
        'edocument' => [
            'svc_base_url' => 'http://edocument:3000/',
            'validation_svc' => 'http://edocument:3000/ubl',
            'view_svc' => 'http://edocument:3000/ublView',
        ],
    ],
];
