<?php
// logger configuration
return [
    'logger' => [
        'active' => true,
        'filename' => 'php://stdout',
        'priority' => 4,
        'logruntime' => true,
        'logdifftime' => true,
        'traceQueryOrigins' => true,
        'additionalWriters' => [
{% if tinedockercompose_file_log_user is defined %}
{% for user in tinedockercompose_file_log_user %}
            [
                'filter'   => [
                    'user' => '{{ user }}'
                ],
                'active' => true,
                'filename' => '/var/log/tine20/{{ user }}.log',
                'priority' => '7',
            ],
{% endfor %}
{% endif %}
{% if tinedockercompose_file_log_debug|bool %}
            [
                'active' => true,
                'filename' => '/var/log/tine20/debug.log',
                'priority' => '7',
            ],
{% else %}
            [
                'active' => true,
                'filename' => '/var/log/tine20/tine.log',
                'priority' => '5',
            ],
{% endif %}
        ],
    ],
];
