<?php
return [
    'OnlyOfficeIntegrator' => [
        'onlyOfficePublicUrl' => 'http://localhost:4020/',
        'onlyOfficeServerUrl' => 'http://documentserver/',
        'tine20ServerUrl' => 'http://web/',
        'jwtEnabled' => true,
        'jwtSecret' => '{{ tinedockercompose_documentserver_secret }}',
    ],
];
