[global]
error_log = /dev/stderr

[www]
user = tine20
group = tine20

listen = 127.0.0.1:9000

;listen.backlog = 511

;listen.allowed_clients = 127.0.0.1

pm = {{ getenv "PHPFPM_DYNAMIC" "dynamic" }}
pm.max_children = {{ getenv "PHPFPM_PM_MAX_CHILDREN" "10" }}
pm.start_servers = {{ getenv "PHPFPM_PM_START_SERVER" ( getenv "PHPFPM_PM_START_SERVERS" "4") }}
pm.min_spare_servers = {{ getenv "PHPFPM_PM_MIN_SPARE_SERVER" ( getenv "PHPFPM_PM_MIN_SPARE_SERVERS" "2") }}
pm.max_spare_servers = {{ getenv "PHPFPM_PM_MAX_SPARE_SERVER" ( getenv "PHPFPM_PM_MAX_SPARE_SERVERS" "6") }}
;pm.process_idle_timeout = 10s;
pm.max_requests = {{ getenv "PHPFPM_PM_MAX_REQUESTS" "500" }}

access.log = /dev/stdout
slowlog = /dev/stdout

;request_slowlog_timeout = 0
;request_slowlog_trace_depth = 20
;request_terminate_timeout = 0

;rlimit_files = 1024
;rlimit_core = 0

catch_workers_output = yes
decorate_workers_output = no
clear_env = no

pm.status_path = /ADMIN/fpm-status
ping.path = /ADMIN/fpm-ping
;ping.response = pong

php_admin_value[display_errors] = {{ getenv "PHP_DISPLAY_ERRORS" "Off" }}
php_admin_value[display_startup_errors] = {{ getenv "PHP_DISPLAY_ERRORS" "Off" }}