{% extends '/Tinebase/views/base.html.twig' %}

{% block custom_style %}
{% endblock %}

{% block title %}
    <title>{{ _('File not found!') }}</title>
{% endblock %}

{% block content %}
    <div>
        <strong>{{ _('File not found!') }}</strong>
    </div>
{% endblock %}