{% extends 'Filemanager/views/base.html.twig' %}

{% block title %}
    <title>{{ _('File not found!') }}</title>
{% endblock %}

{% block content %}
    <div class="empty-state">
        <i class="fas"></i>
        <h4>{{ _('File not found!') }}</h4>
    </div>
{% endblock %}