general.daemonize=0
general.loglevel=4
general.pidfile=/tmp/actionQueue.pid
tine20.shutDownWait=10
{{if not (eq (getenv "TINE_ACTIONQUEUE_MAXCHILDREN" "") "")}}
tine20.maxChildren={{getenv "TINE_ACTIONQUEUE_MAXCHILDREN"}}
{{end}}