<footer>
    <div class="container">
        <div class="fw-semibold fs-5 mb-2">
            {{ 'Ihr %1$s Team' | format(app.branding.title) }}
        </div>
        <div>Copyright @ 2025 Metaways Infosystems GmbH. All rights reserved.</div>
        <div>Pickhuben 2, D-20457 Hamburg.</div>
        <div class="mt-4 mb-4">
            <a href="/terms" data-content="terms">Terms of Service</a>
            <span class="separator">|</span>
            <a href="/privacy-policy">Privacy Policy</a>
            <span class="separator">|</span>
            <a href="/contact">Contact Us</a>
            <span class="separator">|</span>
            <a href="/imprint">Imprint</a>
        </div>
    </div>
</footer>
