---
tinedockercompose_tine_image: "tinegroupware/tine:2024"
tinedockercompose_tinesetupuser: "tinesetup"
tinedockercompose_tinesetuppw: "movemetovault"
tinedockercompose_tinesetuphtpasswd: "setup:$$apr1$$JhCtViTh$$k15DH.HvNR5hZ66Ew5aTH/" #setuppw
tinedockercompose_tineloggerprio: "5"
tinedockercompose_tinesharedkey: "changeme"
tinedockercompose_tine_cronjob_deactivated: false

tinedockercompose_path: "/srv/tine"
tinedockercompose_confd_path: "/srv/tine/conf.d"
tinedockercompose_files_path: "/srv/tine/files"
tinedockercompose_backup_path: "/srv/tine/backup"
tinedockercompose_file_log_dir: "/var/log/tine"
tinedockercompose_file_log_debug: false
tinedockercompose_file_log_maxage: 30
tinedockercompose_file_log: true

tinedockercompose_ports: "80:80"
tinedockercompose_auto_installupdate: false
tinedockercompose_addtineuser: true
tinedockercompose_createdirs: true

tinedockercompose_redis_service: true
tinedockercompose_redis_hostname: "cache"

tinedockercompose_db_service: true
tinedockercompose_db_host: "db"
tinedockercompose_db_image: "mariadb:10.9.8"
tinedockercompose_db_command: "--max-allowed-packet=209715210"
tinedockercompose_db_path: "/srv/tine/db"
tinedockercompose_db_name: "tine"
tinedockercompose_db_user: "tine"
tinedockercompose_db_password: "tine"
tinedockercompose_db_prefix: "tine_"

tinedockercompose_docservice_deploy_conf: true
# tinedockercompose_docservice_version: "2.1"

tinedockercompose_documentserver: false
tinedockercompose_documentserver_version: "latest"
tinedockercompose_documentserver_secret: "change_me_also_define_in_tine_cfg"
tinedockercompose_documentserver_publicurl: "http://localhost:4020/"
tinedockercompose_documentserver_serverurl: true

tinedockercompose_redis_version: "6.0.16"

tinedockercompose_broadcasthub: false
tinedockercompose_edocument_service: false

# tinedockercompose_volumes:
#   - "tine_clamav
#   - "tine_files

# tinedockercompose_additional_web_env:
#   - "PHP_MEMORY_LIMIT: 0"
