/* SVG Icons an light/dark mode anpassen */
[data-md-color-scheme="slate"] img[src$=".svg"] {
    filter: invert(1);
}

/* responsive Screenshots */
@media (max-width: 768px) {
    .desktop-img {
        display: none;
    }
}
@media (min-width: 768px) {
    .mobile-img {
        display: none;
    }
}

/* Nur bei sehr großen Bildschirmen (>1600px) */
@media (min-width: 1600px) {
    .md-grid {
        max-width: 1600px; /* Standard ist meist 1240px */
    }
}

/* Optional: noch etwas mehr Luft geben bei Ultrawide */
@media (min-width: 2000px) {
    .md-grid {
        max-width: 2000px;
    }
}

/* Optional: noch etwas mehr Luft geben bei Ultrawide */
@media (min-width: 2400px) {
    .md-grid {
        max-width: 2400px;
    }
}

.grid .card {
    background: #ffffff; /* helles Weiß */
    color: #1a1a1a;
    border: 1px solid #e0e0e0;
}
.grid .card.md-accent {
    background: #f1f6ff; /* hellblauer Akzent */
    border-color: #90caf9;
}