.x-panel-footer-wizard {
    border-color:#a9bfd3;
    border-style:solid;
    border-width:0 1px 1px 1px;
    background:#d0def0 url(../../../library/ExtJS/resources/images/default/toolbar/bg.gif) repeat-x top left;
}

.x-panel-footer-wizard-status {
    padding-left: 5px;
    padding-top: 11px;
    color:#15428b;
    font-weight: bold;
    font-size: 11px;
    float:left;
    width:auto;
}

// import dialog: explanatory texts above the fields (block with some space instead of <p>...<br />)
.tw-import-text {
    display: block;
    margin-bottom: 8px;
}
