# overwritten by: ci-config.yml < variables in gitlab-ci.yml < gitlab project variables < per pipeline variables
variables:
  # The major commit ref name is mainly used for ci caching. Non feature branches should be there own major. The major of feature branches should be the branch the will be merged into.
  # The major commit ref name is configures in to parts, the base and and the customer specific part.
  BASE_MAJOR_COMMIT_REF_NAME: "2025.11"
  # The customer part must end with an /. eg "ecclesias/" (This is a limitation of templating and is required to allow branches with out a customer.
  CUSTOMER_MAJOR_COMMIT_REF_NAME: ""

  # DO NOT CHANGE MANUAL: needs to be, in the main variables section CUSTOMER_MAJOR_COMMIT_REF_NAME and BASE_MAJOR_COMMIT_REF_NAME are not set jet
  MAJOR_COMMIT_REF_NAME: "${CUSTOMER_MAJOR_COMMIT_REF_NAME}${BASE_MAJOR_COMMIT_REF_NAME}"

  RELEASE_UPDATE_TEST_START_REF: "2024.11.17"

  # Upstream branch as string. For non custom branches, the branch should be its own UPSTREAM_BRANCH.
  UPSTREAM_BRANCH: '2025.11'

  # General
  # "Docker hub tag for this build."
  DOCKERHUB_TAG: "dev"

  # "Install one custom app via composer: vendor"
  CUSTOM_APP_VENDOR: "metaways"

  # "Install one custom "dev-master"

  # install one custom app via composer: name
  # CUSTOM_APP_NAME default should be nothing

  # install one custom app via composer: git url
  # CUSTOM_APP_GIT_URL default should be nothing

  # "Select e2e test to run. - npm test $JS_E2E_TEST_FILTER"
  JS_E2E_TEST_FILTER: ""

  # "Database image used by tests."
  DATABASE_IMAGE: "${UTIL_REGISTRY}/mariadb:10.9.8"

  # "Redis image to use during tests."
  REDIS_IMAGE: "${UTIL_REGISTRY}/redis:6.0.16"

  # "Add a php unit filter to all php unit test jobs e.g. CashBook. This is used for customapp tests."
  PHPUNIT_FILTER: ""
  
  # "Php version to use."
  PHP_VERSION: "8.3"

  # "Codename for build"
  CODENAME: "Liva"

  # "Try to reuse source images" 
  REUSE_IMAGES: "true"

  # "Build zip packages, wenn packaging. (Tar packages are always build)"
  ZIP_PACKAGES: "false"

  # "Rewrite composer lock to pull packages from cache."
  COMPOSER_LOCK_REWRITE: "true"

  # Applications to install for tests. Can be all comma separated list with out spaces of application names
  TINE20_APPLICATION_TO_INSTALL: all

  # Test Jobs
  # Variable are switched on with the string "true" and off with the string "false".
  # No test job must run if RUN_NO_TESTS is true.
  #
  # Every test job has an variable (uppercase(name)) which determent's if it should run. These Should not be set in the ci config or project variables.
  # They should strictly be used for pipeline triggert manually or by api. Or for customising schedules.
  # For these vars applies true = always run, false = never run and "" = if some other rule matches
  #
  # Test Jobs also have variables uppercase(name)_MERGE_REQUEST and uppercase(name)_SCHEDULE which determines if it is run during the corresponding pipelines.
  # They should only be set in the project variables, to temporarily enable disable Jobs. If the job config should be changed permanently the rules if should
  # be switched: eg: $VAR == "false" => $VAR != "true"
  # For these vars applies true = run on eg. mr, false = dont run for eg. mr and "" = use default
  #
  # eg:
  # PHP_UNIT_ALL_TESTS_LDAP_BUILD: "false" # default is ""
  # PHP_UNIT_ALL_TESTS_LDAP_BUILD_MERGE_REQUEST: "true" # default is "false"
  # PHP_UNIT_ALL_TESTS_LDAP_BUILD_SCHEDULE: "false" # default is "true"

  PHPCS_ANALYSIS_STRICT: "true"
  PARALLEL_LINT_ANALYSIS_STRICT: "true"
  PHPSTAN_ANALYSES_STRICT: "true"
  PHP_UNIT_ALL_TESTS_SOURCE_TYPE: "parallel" #parallel, sequential, matrix
  PHP_UNIT_TESTS_SOURCE_POSTFIXMULTIINSTANCE_TYPE: "parallel" #parallel, sequential
  PHP_UNIT_ALL_TESTS_BUILT_TYPE: "parallel" #parallel, sequential
  PHP_UNIT_NOGITLABCI_TESTS_BUILT_TYPE: "parallel" #parallel, sequential
  PHP_UNIT_ALL_TESTS_LDAP_SOURCE_TYPE: "parallel" #parallel, sequential
  PHP_UNIT_ALL_TESTS_LDAP_BUILD_TYPE: "parallel" #parallel, sequential
  JS_E2E_TESTS_SOURCE_TYPE: "sequential" #sequential, matrix
  PHP_UNIT_ALL_TESTS_AD_SOURCE_TYPE: "parallel" #parallel, sequential

  # Deploy

  # DEPLOY_CUSTOMER_IMAGE_TO_REGISTRY:
  #DEPLOY_CUSTOMER_IMAGE_TO_REGISTRY: "true" # default is false

  # config for DEPLOY_CUSTOMER_IMAGE_TO_REGISTRY 
  # CUSTOMER_IMAGE_REGISTRY_USERNAME:
  #CUSTOMER_IMAGE_REGISTRY_USERNAME: ""
  # CUSTOMER_IMAGE_REGISTRY_PASSWORD:
  #CUSTOMER_IMAGE_REGISTRY_PASSWORD: ""
  # CUSTOMER_IMAGE_REGISTRY_REPO:
  #CUSTOMER_IMAGE_REGISTRY_REPO: ""

  PUSH_TO_VPACKAGES: "true"
  
  TEST_IMAGE_VERSION: "3"
  TEST_IMAGE_REGISTRY: ${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/tine20/test
  TEST_IMAGE: ${TEST_IMAGE_REGISTRY}:${BASE_MAJOR_COMMIT_REF_NAME}-${PHP_VERSION}-${TEST_IMAGE_VERSION}
