{% extends 'Tinebase/views/base.html.twig' %}

{% block title %}
    <title>{{ _('Terms of Service') }}</title>
{% endblock %}

{% block content %}
    <h2 class="mb-4 text-primary text-center">{{ _('Terms of Service') }}</h2>
{% endblock %}